// Custom styles.
.posts-expand {
    .post { margin-top: 80px; }
}

// 首页文章阴影样式, 会影响到其他页面的样式，先注释吧
//.post {
//    // margin-top: 60px;
//    // margin-bottom: 60px;
//    // padding: 25px;
//    -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
//    -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
//}
